html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


main {
    height: 100%;
    overflow-y: auto;
    text-align: center;
    padding: 0 24px;
}

header {
    background-color: #71a4b6;
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 80px;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.intro {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 85%;
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #71a4b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: #188181;
}

footer {
    text-align: center;
    background-color: #71a4b6;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo h1{
    color: #FFFFFF;
}






h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 36px;
}



.container {
	width: 100%;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
	text-align: left;
	border: 1px solid #ddd;
	background-color: #fff;
	vertical-align: middle;
}

th {
	background-color: #71a4b6;
	color: white;
	font-weight: 500;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #f1f1f1;
}

td {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

.pagination a {
	margin: 0 5px;
	padding: 8px 12px;
	background-color: #71a4b6;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.pagination a:hover {
	background-color: #188181;
	color: white;
}

body a {
	color: #71a4b6;
	text-decoration: none;
}

body a:hover {
	color: #174949;
}

nav ul li a.active {
    font-weight: bold;
    color: #174949;
}

button[disabled] {
    background-color: #ccc !important;
    cursor: not-allowed;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
    -webkit-overflow-scrolling: touch;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table th, .responsive-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

input {
    height: 24px;
    border-radius: 4px;
    padding: 4px 0 2px 7px;
    border: 1px solid #949090;
}

input[type="file"] {
    border: 0px;
}

select {
    height: 33px;
    padding: 4px 0px 3px 5px;
}

section, .chart-section {
	padding-bottom: 200px;
}

