{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Resume Screening Tool{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    {% block style %}{% endblock %}


    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body class="base-body">
    <header>
        <div class="logo">
            <h1>Resume Screening Tool</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload Resume</a></li>
                <li><a href="/view-resumes">View Resume</a></li>
                <li><a href="/chat-assistant">Chat Assistant</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Interactive Resume Screening Tool | All rights reserved</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
