{% extends 'resume_screening/base.html' %}

{% block style %}
  <style>
    .profile-container {
      width: 70%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
    }

    .profile-details p {
      font-size: 16px;
      margin: 10px 0;
      text-align: left;
    }

    .btn-download {
      padding: 10px 20px;
      background-color: #71a4b6;
      color: white;
      text-decoration: none;
      border-radius: 4px;
    }

    .btn-download:hover {
      color: white;
      background-color: #188181;
    }

    .download-section {
      padding-top: 20px;
    }

    .candidate-name {
      color: #71a4b6;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="profile-container">
    <h1>Candidate Profile: <span class="candidate-name">{{ resume.name }}</span></h1>

    <div class="profile-details">
      <p><strong>Email:</strong> {{ resume.email }}</p>
      <p><strong>Skills:</strong> <span id="skills-list"></span></p>
      <p><strong>Experience:</strong> {{ resume.experience }} years</p>
      <p><strong>Education:</strong> {{ resume.education }}</p>
      <p><strong>Summary:</strong> {{ resume.summary }}</p>

      <!-- Add other resume details as needed -->
    </div>

    <div class="download-section">
      <a href="{{ MEDIA_URL }}resume/{{ resume.resume_file }}" download="{{ resume.name }}_Resume.pdf" class="btn-download">Download Resume</a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  const skills = {{ resume.skills|safe }};

  const skillsArray = skills[0]?.split(',');

  const skillsWithSpaces = skillsArray?.join(', ');

  document.getElementById('skills-list').textContent = skillsWithSpaces;
</script>
{% endblock %}